@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

@mixin reset-nav-link {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #83888F;
    text-transform: uppercase;
}



  @mixin bg-img {
    background-repeat: no-repeat;
    background-position: center 72px;
}

@mixin  section-bg {
  background-color: rgba(44, 52, 62, 1);
  border-radius: 10px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  content: "";
}

@mixin fraunces {
  font-family: "Fraunces";
}

@mixin intro-description {
  width: 445px;
  color: rgba(255, 255, 255, 0.8);
}

@mixin reset-title {
  font-family: "Fraunces";
  font-size: 40px;
  line-height: 48px;
}

@mixin grey-title {
  font-size: 24px;
  color: rgba(131, 136, 143, 1);
  @include fraunces;
  margin-bottom: 80px;
}

@mixin item-title {
   font-size: 32px;
    width: 255px;
    @include fraunces;
    line-height: 36px;
}

@mixin accent-color {
  color: rgba(51, 61, 75, 1);
}