@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

@mixin reset-nav-link {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #83888F;
    text-transform: uppercase;
}



  @mixin bg-img {
    background-repeat: no-repeat;
    background-position: center 72px;
}

@mixin  section-bg {
  background-color: rgba(44, 52, 62, 1);
  border-radius: 10px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  content: "";
}

@mixin fraunces {
  font-family: "Fraunces";
}