
.process__container {
    width: 1111px;
    padding: 200px 0;
}
.process__title {
   @include grey-title;
}
.process__btn {
    border: 2px solid #0e8784;
    background-color: white;
    padding: 15px 15px;
    border-radius: 50%;
    margin-right: 349px;
   
}   
 
.process__div {
    display: flex;
   position: relative;
    
    
}
.process__div::before {
    border: 1px solid rgba(253, 214, 186, 1);
    background-color:rgba(253, 214, 186, 1);
    width: 760px;
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 10px;
    
}
.process__list {
    @include reset-list;
   
}
.process-item {
    margin-right: 95px;
}
.process__item-span {
    font-size: 72px;
    color: rgba(253, 214, 186, 1);
    display: block;
    margin-top: 67px;
    @include fraunces;
}
.process-item__title {
    @include item-title;
    margin: 38px 0 42px;
    @include accent-color;
}
.process-item__description {
    @include accent-color;
    width: 285px;
    margin-bottom: 64px;
}
